.content {
  display: flex;
  flex-direction: column;

}
#file{
margin-bottom:0.2rem;
margin-top:2rem;
margin-left:1rem;
}
.upper-form {
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  margin: 2.5rem;
  background: #ebf0ff;
}
.left-section {

width:auto;
height:26rem;
min-height:26rem;
max-height:26rem;
justify-content: center;
border:none;
padding:2rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lower-form {
  height: 2rem;
  text-align: center;
  padding-top: 0.2rem;
}

.notification {
  padding: 1rem 8rem;
  width:20%;
  background-color: green;
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
}

.alert {
 width:20%;
padding: 1rem 8rem;
  background-color: red;
  font-size: 1.5rem;
  color: white;
   margin: 0 auto;

}