main {
}
.form-group {
}
.upper-form {
  display: flex;
  justify-content: center;
}
.name {
  margin: 2rem auto 1rem 18.3rem;
}
.name input[type="text"] {
  width: 22rem;
  padding-left: 0.5rem;
  height: 2rem;
  font-size: 1.1rem;
  background-color: white;
  opacity:80%;
  border: none;
  outline: none;
  color: black;
}
.email {
  margin: 2rem 17.3rem 1rem auto;
}
.email input[type="email"] {
opacity:80%;
  width: 30rem;
  padding-left: 0.5rem;
  height: 2rem;
  background-color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.lower-form {
width:60%;
margin: 1rem auto;
}
.message textarea {
opacity:80%;
  background: white;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  width:100%;
}
.button {
margin: 1.5rem auto;
width:20%;
text-decoration: none;
  color: white;
  padding: 0.7rem 2rem;
  background: #0292B7;
  border-radius: 5px;
  text-align:center;
  border:none;
}