.info_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  margin-top: 3rem;
  width: 80%;
}
.info1 p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: bold;
}
.info2 H5 {
  font-size: 1.5rem;
  text-align: justify;
  color: #0292B7;
  font-weight: bold;
}
.subinfo p {
  font-size: 1rem;
  text-align: justify;
}
